.gradient-circle {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  margin: 0;
  background: $radialGradient;
}

.left-circle {
  top:-50px;
  left: -20px;
  height: 400px;
  width: 400px;
}

.right-circle {
  top:-50px;
  right: -50px;
  height: 250px;
  width: 250px;
}

.home-page .infos-block {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-page .infos-block h1 {
  font-size: 12em;
  color: $white;
  font-weight: bold;
  text-align: center;
  text-shadow: 10px 10px 0 $blue;
} 

.home-page .infos-block p {
  font-size: 200%;
  color: $darkBlue;
  font-weight: bold;
  text-align: center;
} 

.nav-arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: $white;
}