.users-select select {
  margin-top: 100px;
  padding: 10px;
  height: 70px;
  width: 400px;
  position: relative;
  left: 50%;
  background: transparent;
  border: $white solid;
  border-radius: 0px;
  border-width: thick;
  color: $white;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  transform: translate(-50%, -50%);
}

.users-select-option {
  color: $grey;
}

.infos-content {
  margin: 20px 0 20px 0;
  font-size: 1.7em;
  text-align: left;
  font-weight: bold;
  color: $darkBlue;
}

.infos-content span {
  color: $white;
}

.user-page .infos-block {
  position: relative;
  float: left;
  left: 50%;
  transform: translate(-50%);
}

.articles-list {
  margin: 80px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  float: left;
}

.user-page .nav-arrow {
  position: relative;
  top: 50px;
  left: 50px;
  color: $white;
}
