.article-block {
  margin: 20px;
  padding: 40px 20px 40px 20px;
  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
}

.article-name {
  margin: 20px 0 20px 0;
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
}

.article-content {
  line-height: 1.5;
}
